{% extends 'base.html.twig' %}

{% block title %}Hello Page{% endblock %}

{% block body %}
{# <h3 class="text-success text-center text-capitalize">HOME PAGE</h3> #}
<img src="{{asset('image/cover/cover.png')}} " > </img>
{% endblock %}
