{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid mt-3">
    <h2 class="text-success text-center text-capitalize">ADD NEW SUBJECT</h2>
    <div class="col-md-5"></div>
        {{form_start(form)}}
        {{form_end(form)}}
      
</div>
{% endblock %}